<h2 class="card-title text-center">Sprawdź rejestr dostępu do walut:</h2>
<div class="mt-5 table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Imie i nazwisko</th>
        <th scope="col">Kod waluty</th>
        <th scope="col">Data odczytania</th>
      </tr>
    </thead>
    <tbody>
      @for(record of userAccessRecords$ | async; track record; let index =
      $index) {
      <tr>
        <td>{{ index + 1 }}</td>
        <td>{{ record.name }}</td>
        <td>{{ record.currency }}</td>
        <td>{{ record.date | localDate }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
